name: Test

on:
  workflow_dispatch:
  push:
    branches:
    - "master"
  pull_request:
    branches:
    - "master"

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
      - run: dotnet build -c Debug
      - run: dotnet test -c Debug --no-build

  test-unity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        unityVersion:
        - 2021.3.34f1
        - 2022.2.21f1
        - 2022.3.18f1
        include:
        - unityVersion: 2021.3.34f1
          license: UNITY_LICENSE_2021_3
        - unityVersion: 2022.2.21f1
          license: UNITY_LICENSE_2022_2
        - unityVersion: 2022.3.18f1
          license: UNITY_LICENSE_2022_3
    steps: 
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: VYaml.Unity/Library
        key: Library-VYaml-${{ matrix.unityVersion }}
        restore-keys: |
          Library-VYaml-
          Library-
    - uses: game-ci/unity-test-runner@v4
      env:
        UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
        UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        UNITY_LICENSE: ${{ secrets[matrix.license] }}
      with:
        projectPath: ./VYaml.Unity
        githubToken: ${{ secrets.GITHUB_TOKEN }}        
      
